.item {
    background-color: #2F3136;
    padding: 0.5rem;
    border-radius: 0.75rem;
    margin: 0.25rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name {
    display: flex;
}


.margin-1 {
    margin-left: 2rem;
}
.margin-2 {
    margin-left: 4rem;
}

/* Icons */
.icon-delete {
    color: #F04747;
    margin-right: 0.5rem;
    cursor: pointer;
}
.icon-cog {
    color: #ffffff;
    font-size: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.icon-option-type {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
}
.icon-add {
    color: #7289DA;
    margin-right: 0.5rem;
    cursor: pointer;
}