/*
.item {
    background-color: #2F3136;
    padding: 0.5rem;
    border-radius: 0.75rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name {
    display: flex;
}


.margin-1 {
    margin-left: 2rem;
}
.margin-2 {
    margin-left: 4rem;
}